pinecone-client
sentence-transformers==2.2.2
uuid
langchain
voyageai
anthropic
llama-index-embeddings-langchain
llama-index
langchain-community
langchain-anthropic
langchain-pinecone
langchain-openai
unstructured[all-docs]
pydantic
lxml
poppler-utils
pillow
unstructured==0.12.5
browser-history
pytesseract
python-dotenv